@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 260 42% 92%;
    --foreground: 259 10% 20%;
    --card: 260 42% 96%;
    --card-foreground: 259 10% 20%;
    --popover: 260 42% 96%;
    --popover-foreground: 259 10% 20%;
    --primary: 259 74% 75%;
    --primary-foreground: 259 10% 10%;
    --secondary: 260 30% 88%;
    --secondary-foreground: 259 10% 10%;
    --muted: 260 30% 90%;
    --muted-foreground: 260 10% 55%;
    --accent: 221 74% 75%;
    --accent-foreground: 221 74% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 260 20% 85%;
    --input: 260 30% 95%;
    --ring: 259 74% 75%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 259 10% 12%;
    --foreground: 260 42% 92%;
    --card: 259 10% 15%;
    --card-foreground: 260 42% 92%;
    --popover: 259 10% 15%;
    --popover-foreground: 260 42% 92%;
    --primary: 259 74% 75%;
    --primary-foreground: 259 10% 10%;
    --secondary: 259 10% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 259 10% 25%;
    --muted-foreground: 260 10% 65%;
    --accent: 221 74% 75%;
    --accent-foreground: 221 74% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 259 10% 25%;
    --input: 259 10% 25%;
    --ring: 259 74% 80%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
